<!-- <%- include('../partials/header') %> -->

<div class="inv-management">
  <h1>Inventory Management</h1>
  
  <div class="flash-message">
    <%- messages() %>
  </div>

  <p>Welcome to the Inventory Management view. Please choose an option below:</p>

  <div class="management-buttons">
    <a href="/inv/add-classification" class="btn">Add New Classification</a>
    <a href="/inv/add-inventory" class="btn">Add New Vehicle</a>
  </div>
</div>